head {
    display: flex;
    align-items: center;

}

body {
    display: flex;
    align-items: center;
    background-color: rgb(166, 166, 212);
    padding: 1px;
    color: black;
}

h1 {
    font-size: 200%;
}

main {
    display: flex;
    align-items: center;
    
}

.error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
  }