head {
    display: flex;
    align-items: center;

}

body {
    display: flex;
    align-items: center;
    background-color: rgb(166, 166, 212);
    padding: 1px;
    color: black;
}

h1 {
    font-size: 200%;
}

main {
    display: flex;
    align-items: center;
    
}

@media (max-width:1025px) {

}

@media (max-width:600px) {

}

@media (max-width:576px) {
    body {
        background-color: #bb8588;
}
}