:root {
    --bluegrey: #546E7A;
    --grey: #616161;
    --purple: #9575CD;
    --pink: #F50057;
    --cyan: #18FFFF;
    --lime: #C6FF00;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bluegrey);
    padding: 10px;
    color: var(--purple);
    font-family: 'DM Serif Display', serif;
    margin: 10px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn {
    font-size: 25px;
    font-weight: bold;
    background-color: var(--cyan);
    border: .5px solid black;
    border-radius: 10px;
    color: #fff;
    padding: 8px;

.logos { 
    display: inline-flex;
    justify-content: center;
}



h1 {
    font-size: 200%;

}

main {
    display: flex;
    align-items: center;
}

.main-header {
    text-align: center;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
  }

@media (max-width:1025px) {

}

@media (max-width:600px) {

}

@media (max-width:576px) {
    body {
        background-color: #bb8588;
}
}

